workflows/00_Telegram_Router.json
{
    "name": "00 - Telegram Router (The Switchboard)",
    "id": "SwitchboardRouterV1",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {
                    "userIds": "7284267714"
                }
            },
            "id": "telegram-main-trigger",
            "name": "Telegram Webhook (Master)",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "webhookId": "switchboard-router-production",
            "credentials": {
                "telegramApi": {
                    "id": "yDpQzNCgbZRDEeGA",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.message.text.trim() }}",
                "rules": {
                    "rules": [
                        {
                            "operation": "regex",
                            "value2": "^[1-5]$",
                            "output": 0
                        }
                    ]
                },
                "fallbackOutput": 1
            },
            "id": "router-switch",
            "name": "Router (Switch)",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "workflowId": "LTtD6izOWBatig-7qv8IA",
                "mode": "transferredData"
            },
            "id": "exec-reactor",
            "name": "Execute Reactor",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                460,
                -100
            ]
        },
        {
            "parameters": {
                "workflowId": "HhEbv3PhcA2XgDtN",
                "mode": "transferredData"
            },
            "id": "exec-publisher",
            "name": "Execute Publisher",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                460,
                100
            ]
        }
    ],
    "connections": {
        "Telegram Webhook (Master)": {
            "main": [
                [
                    {
                        "node": "Router (Switch)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Router (Switch)": {
            "main": [
                [
                    {
                        "node": "Execute Reactor",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Publisher",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "pinData": {}
}