workflows/03_LinkedIn_Reply_Handler.json
{
  "updatedAt": "2026-02-01T09:36:07.414Z",
  "createdAt": "2026-01-31T06:54:17.685Z",
  "id": "HhEbv3PhcA2XgDtN",
  "name": "LinkedIn Publisher (Reply Handler)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "webhookId": "linkedin-reply-webhook",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json.message;\nconst reply = msg.reply_to_message;\nconst text = msg.text.trim();\n\n// 1. Check validation (must be reply to workflow)\nconst isWorkflowReply = reply && (reply.text.includes('WORKFLOW COMPLETADO') || reply.text.includes('Para LinkedIn'));\n\nif (!isWorkflowReply) {\n  // Not for us -> Ignore\n  return [];\n}\n\n// 2. Determine Mode\nlet contentToPost = \"\";\nlet mode = \"custom\";\n\nif (/^(ok|vale|si|yes|publicar)$/i.test(text)) {\n   // Mode: OK (Draft)\n   mode = \"draft\";\n   // Extract\n   const regex = /-{10,}\\n([\\s\\S]*?)\\n-{10,}/;\n   const match = reply.text.match(regex);\n   if (match && match[1]) {\n     contentToPost = match[1].trim();\n   } else {\n     contentToPost = reply.text; // Fallback\n   }\n} else {\n   // Mode: Custom\n   mode = \"custom\";\n   contentToPost = text; // Post the user's reply text\n}\n\nreturn { json: { content: contentToPost, mode } };"
      },
      "id": "router-code",
      "name": "Router & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\u2705 *Publicado en LinkedIn*\n\nTu post ya est\u00e1 en vivo.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "webhookId": "fd5c893a-d9c7-431d-900b-371169ea1a39",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "person": "3aUnLlTakC",
        "text": "={{ $('Telegram Trigger').item.json.message.reply_to_message.text }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "84fef436-40b9-4cc4-ad3f-a0dc62ddb0dd",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "lkHYGw5gYDx3I0H2",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Router & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router & Extract": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8dd1f52-b0f5-4fee-9680-50bde54e2ac1",
  "activeVersionId": "d8dd1f52-b0f5-4fee-9680-50bde54e2ac1",
  "versionCounter": 15,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-01-11T08:53:52.795Z",
      "createdAt": "2026-01-11T08:53:52.795Z",
      "id": "uhHZ5uXbgX7TuWN5",
      "name": "CreaContenido"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-01-31T06:54:17.688Z",
      "createdAt": "2026-01-31T06:54:17.688Z",
      "role": "workflow:owner",
      "workflowId": "HhEbv3PhcA2XgDtN",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}