workflows/03_LinkedIn_Reply_Handler.json
{
  "name": "03 - LinkedIn Publisher (Worker)",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// WORKER LOGIC - LINKEDIN PUBLISHER\n// Receives message from Router. Only handles Publishing logic.\n\nlet msg = items[0].json.message;\n// Fallback if needed\nif (!msg && $('Execute Workflow Trigger')) {\n    try { msg = $('Execute Workflow Trigger').first().json.message; } catch(e){}\n}\n\nif (!msg) return [];\n\nconst reply = msg.reply_to_message;\nconst text = (msg.text || \"\").trim();\n\n// 2. ROUTE TO LINKEDIN (Must be a reply)\n// Note: Even though Router sends replies here, we double check.\nif (!reply) {\n  return [];\n}\n\n// 3. Determine Mode (Draft vs Custom)\nlet contentToPost = \"\";\nlet mode = \"custom\";\n\nif (/^(ok|vale|si|yes|publicar)$/i.test(text)) {\n   // Mode: OK (Draft)\n   mode = \"draft\";\n   // Extract content between dashed lines if available\n   const regex = /-{10,}\\n([\\s\\S]*?)\\n-{10,}/;\n   const match = reply.text.match(regex);\n   if (match && match[1]) {\n     contentToPost = match[1].trim();\n   } else {\n     contentToPost = reply.text; \n   }\n} else {\n   mode = \"custom\";\n   contentToPost = text;\n}\n\nif (!contentToPost) return [];\n\n// Return item to Output Index 0\nreturn { json: { content: contentToPost, mode } };"
      },
      "id": "router-code",
      "name": "Router & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.message ? $json.message.chat.id : 7284267714 }}",
        "text": "✅ *Publicado en LinkedIn*\n\nTu post ya está en vivo.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "person": "3aUnLlTakC",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "84fef436-40b9-4cc4-ad3f-a0dc62ddb0dd",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "lkHYGw5gYDx3I0H2",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Router & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router & Extract": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "id": "HhEbv3PhcA2XgDtN"
}