workflows/3SujNhDcvxSyDmdAiUb7d.json
{
  "updatedAt": "2026-01-14T11:09:20.003Z",
  "createdAt": "2026-01-08T21:54:43.953Z",
  "id": "3SujNhDcvxSyDmdAiUb7d",
  "name": "Content Factory-Web & LinkedIn",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        320
      ],
      "id": "c0eca7f5-d0de-46ba-aea8-760588585d89",
      "name": "Schedule Trigger",
      "retryOnFail": false
    },
    {
      "parameters": {
        "url": "https://webmasters.googleblog.com/feeds/posts/default",
        "options": {
          "customFields": ""
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        -16
      ],
      "id": "eb37ae52-671f-4083-ac50-b1d9042f5cb5",
      "name": "RSS Google",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://searchengineland.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        320
      ],
      "id": "fc1b5a4a-137d-42ed-a534-e16b91de128b",
      "name": "RSS SearchEngine",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://shopify.engineering/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        672
      ],
      "id": "ecd0dd23-b85c-4b54-a4aa-cd951223451a",
      "name": "RSS Shopify",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://martech.org/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        496
      ],
      "id": "6ba7c93e-3c9d-4776-9dc5-cfc493fa4e0f",
      "name": "RSS Martech",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://openai.com/blog/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        144
      ],
      "id": "7322bfa4-7f99-42ca-bc14-18adb26194ca",
      "name": "RSS OpenAI",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -432,
        272
      ],
      "id": "afb6d909-a73e-48d5-8888-bf8d92533ffa",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=ROL:\nEres un Analista de Growth Senior preparando un \"Morning Briefing\" para un CEO ocupado. Tu objetivo es la m\u00e1xima densidad de informaci\u00f3n en el menor n\u00famero de palabras posible. Odias el relleno (fluff) y los adjetivos innecesarios.\n\nINPUT:\nRecibir\u00e1s una lista de noticias recientes sobre E-commerce y Marketing.\nAqu\u00ed tienes las noticias para analizar:\n{{ $json.final_context }}\n\nTU TAREA:\nAnaliza las noticias y genera un OBJETO JSON con dos campos obligatorios:\n\n1. \"briefing_html\" (String): El contenido legible para enviar por email/telegram.\n   - Usa HTML simple (<b>, <a href>).\n   - ESTRUCTURA:\n     - Titular Macro (1 frase).\n     - Lista numerada (1-4) con las noticias m\u00e1s impactantes.\n     - Formato: <b>T\u00cdTULO CORTO</b>: Resumen punchy. \ud83d\udd17 <a href=\"LINK\">Leer m\u00e1s</a>\n     - Footer obligatorio al final: <br><b>\ud83d\udc47 Responde con el n\u00famero (1-4) para redactar.</b>\n\n2. \"topics\" (Array of Objects): Estructura de datos para uso interno.\n   - IMPORTANTE: La clave debe ser \"topics\" (en ingl\u00e9s). NO traduzcas las claves del JSON.\n   - Cada objeto del array debe corresponder a una de las 4 noticias seleccionadas.\n   - Campos de cada objeto:\n     - \"id\" (Number): 1, 2, 3, 4\n     - \"title\" (String): El t\u00edtulo de la noticia.\n     - \"rationale\" (String): Breve explicaci\u00f3n de por qu\u00e9 es importante (para darle contexto al redactor IA despu\u00e9s).\n     - \"sources\" (Array of Strings): [\"URL original\"]\n\nOUTPUT FORMAT (JSON RAW, NO MARKDOWN):\n{\n  \"briefing_html\": \"...\",\n  \"topics\": [\n    { \"id\": 1, \"title\": \"...\", \"rationale\": \"...\", \"sources\": [\"...\"] },\n    ...\n  ]\n}\nIMPORTANTE: El output debe ser un JSON v\u00e1lido parseable. Escapa caracteres especiales si es necesario. Claves en INGL\u00c9S (\"topics\", \"briefing_html\")."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -80,
        320
      ],
      "id": "65f4d9a6-9eef-4081-9e07-481a8aa04c6d",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "={{ $json.mensaje_final }}\n\n\ud83d\udc1e DEBUG JSON:\n<pre>{{ $json.raw_debug }}</pre>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "2d6e73d2-6b74-4f4f-a823-8c73a2da8f47",
      "name": "Notificar a Manu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        576,
        464
      ],
      "webhookId": "1e5f367b-022f-4c81-992c-77a37e7ac330",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Configuraci\u00f3n: Horas hacia atr\u00e1s para considerar una noticia \"fresca\"\nconst hoursBack = 72;\nconst cutoffDate = new Date(new Date().getTime() - (hoursBack * 60 * 60 * 1000));\n\n// Filtramos los items que tengan fecha y sean recientes\nconst recentNews = items.filter(item => {\n  const pubDate = new Date(item.json.pubDate || item.json.isoDate || item.json.date);\n  return pubDate > cutoffDate;\n});\n\n// Limpiamos la data para ahorrar tokens\nconst cleanList = recentNews.map(item => {\n  return {\n    title: item.json.title,\n    content: item.json.contentSnippet || item.json.content || \"\",\n    link: item.json.link,\n    source: item.json.source || \"Unknown\"\n  };\n});\n\n// --- NUEVA L\u00d3GICA (EL SECRETO) ---\n// Convertimos el JSON en un texto legible para la IA\n// As\u00ed forzamos que el link vaya pegado al t\u00edtulo\nconst textForAI = cleanList.map((news, index) => {\n    return `\n    Noticia #${index + 1}:\n    Titulo: ${news.title}\n    Resumen: ${news.content}\n    Link_Original: ${news.link}\n    -----------------------\n    `;\n}).join(\"\\n\");\n\n// Devolvemos el texto listo para usar\nreturn [{ json: { final_context: textForAI } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        320
      ],
      "id": "24fb50b7-bfce-48ad-8ed0-0ef55e88f894",
      "name": "Filtrado"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener la respuesta cruda\nconst rawContent = items[0].json.content;\nlet cleanContent = \"\";\nlet parsed;\n\n// 2. Determinar tipo y limpiar (Handling Gemini Envelope)\nif (typeof rawContent === 'object' && rawContent !== null) {\n  // Check if it's the Gemini Envelope { parts: [{ text: \"...\" }] }\n  if (rawContent.parts && rawContent.parts[0] && rawContent.parts[0].text) {\n      const innerText = rawContent.parts[0].text;\n      const rawString = String(innerText || \"\");\n      cleanContent = rawString.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n      try {\n        parsed = JSON.parse(cleanContent);\n      } catch (e) {\n        parsed = {\n            briefing_html: \"\u26a0\ufe0f Error Parseando Inner JSON: \" + rawString,\n            topics: []\n        };\n      }\n  } else {\n     // Maybe it's already the flat object? unlikely given symptoms\n     parsed = rawContent; \n     cleanContent = JSON.stringify(rawContent, null, 2);\n  }\n} else {\n  // Es string directo?\n  const rawString = String(rawContent || \"\");\n  cleanContent = rawString.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  try {\n    parsed = JSON.parse(cleanContent);\n  } catch (e) {\n    parsed = {\n      briefing_html: \"\u26a0\ufe0f Error Parseando String JSON: \" + rawString,\n      topics: []\n    };\n  }\n}\n\n// 4. Robustez de Claves\nconst topics = parsed.topics || parsed.temas || parsed.items || parsed.noticias || [];\n\n// 5. Preparar Outputs\nreturn [{\n  json: {\n    // Para Telegram (Texto) - Unwrapped String\n    mensaje_final: parsed.briefing_html || \"Error de formato (No briefing_html)\",\n    \n    // DEBUG: Raw Content\n    raw_debug: cleanContent,\n\n    // Para Google Sheets\n    data_json: JSON.stringify({ topics: topics })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        320
      ],
      "id": "fa6f59b2-6347-40d8-a075-2c32101aef86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "data_json": "={{ $json.data_json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_json",
              "displayName": "data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        192
      ],
      "id": "5f1e7afb-5163-4c72-9d61-dfe54f547b1a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l2xD3QINvvmbY8nJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Google",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS SearchEngine",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Martech",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Google": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS SearchEngine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Martech": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Shopify": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filtrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar a Manu": {
      "main": [
        []
      ]
    },
    "Filtrado": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Notificar a Manu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4d1ff342-6784-4c91-942e-ab89e1fa201e",
  "activeVersionId": "4d1ff342-6784-4c91-942e-ab89e1fa201e",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-01-11T08:53:52.795Z",
      "createdAt": "2026-01-11T08:53:52.795Z",
      "id": "uhHZ5uXbgX7TuWN5",
      "name": "CreaContenido"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-01-08T21:54:43.957Z",
      "createdAt": "2026-01-08T21:54:43.957Z",
      "role": "workflow:owner",
      "workflowId": "3SujNhDcvxSyDmdAiUb7d",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}