workflows/3SujNhDcvxSyDmdAiUb7d.json
{
  "updatedAt": "2026-01-14T11:09:20.003Z",
  "createdAt": "2026-01-08T21:54:43.953Z",
  "id": "3SujNhDcvxSyDmdAiUb7d",
  "name": "Content Factory-Web & LinkedIn",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        320
      ],
      "id": "c0eca7f5-d0de-46ba-aea8-760588585d89",
      "name": "Schedule Trigger",
      "retryOnFail": false
    },
    {
      "parameters": {
        "url": "https://webmasters.googleblog.com/feeds/posts/default",
        "options": {
          "customFields": ""
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        -16
      ],
      "id": "eb37ae52-671f-4083-ac50-b1d9042f5cb5",
      "name": "RSS Google",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://searchengineland.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        320
      ],
      "id": "fc1b5a4a-137d-42ed-a534-e16b91de128b",
      "name": "RSS SearchEngine",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://shopify.engineering/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        672
      ],
      "id": "ecd0dd23-b85c-4b54-a4aa-cd951223451a",
      "name": "RSS Shopify",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://martech.org/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        496
      ],
      "id": "6ba7c93e-3c9d-4776-9dc5-cfc493fa4e0f",
      "name": "RSS Martech",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://openai.com/blog/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -768,
        144
      ],
      "id": "7322bfa4-7f99-42ca-bc14-18adb26194ca",
      "name": "RSS OpenAI",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -432,
        272
      ],
      "id": "afb6d909-a73e-48d5-8888-bf8d92533ffa",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=ROL:\nEres un Analista de Growth Senior preparando un \"Morning Briefing\" para un CEO ocupado. Tu objetivo es la máxima densidad de información en el menor número de palabras posible. Odias el relleno (fluff) y los adjetivos innecesarios.\n\nINPUT:\nRecibirás una lista de noticias recientes sobre E-commerce y Marketing.\nAquí tienes las noticias para analizar:\n{{ $json.final_context }}\n\nINSTRUCCIONES DE FORMATO (USAR SOLO HTML):\n1. TITULAR MACRO: Empieza con una sola frase (máximo 2 líneas) que sintetice la tendencia global del día. Sin títulos como \"Daily Growth Briefing\". Directo al grano.\n2. LISTA NUMERADA (1-4): Selecciona las 4 noticias más impactantes.\n3. ESTRUCTURA DE CADA PUNTO:\n   - Frase 1: El \"Qué\" (Hecho concreto).\n   - Frase 2: El \"Por qué importa\" (Impacto en negocio/ROI).\n   - Elimina introducciones como \"Esta noticia trata sobre...\".\n4. FORMATO TÉCNICO DE CADA PUNTO (CRÍTICO):\n   - NO uses Markdown (ni asteriscos **, ni corchetes []).\n   - Usa etiquetas <b> para el título en negrita.\n   - Usa etiquetas <a href=\"URL\"> para los enlaces.\n   - Estructura visual exacta:\n     <b>TÍTULO CORTO</b>: Resumen de máximo 2 frases. 🔗 <a href=\"LINK\">Leer más</a>\n\nESTILO DE REDACCIÓN:\n- Tono: Natural, conversacional pero ejecutivo. Sin palabras soeces.\n- Prohibido: Palabras rimbombantes (\"omnipresencia\", \"panorama\", \"sinergias\").\n- Idioma: Español Neutro.\n\nEJEMPLO DE SALIDA PERFECTA (Fíjate en las etiquetas HTML):\nLa Inteligencia Artificial se consolida como el motor principal de cambio, obligando a redefinir estrategias de SEO y Paid Media para mantener la rentabilidad.\n\n1. <b>La Era Post-Orgánica</b>: Google AI Overviews está desplazando el tráfico web tradicional, forzando a las marcas a priorizar la optimización para IA sobre el SEO clásico para no perder visibilidad. 🔗 <a href=\"https://ejemplo.com/noticia1\">Leer más</a>\n\n2. <b>Alianza Apple-Google</b>: La integración de Gemini en Siri redefine la experiencia móvil global, consolidando el dominio de Google en IA conversacional y abriendo nuevas vías de monetización en apps. 🔗 <a href=\"https://ejemplo.com/noticia2\">Leer más</a>\n\n...\n\nFOOTER OBLIGATORIO:\nAl final de tu respuesta, deja un espacio en blanco y escribe EXACTAMENTE esta frase con etiquetas de negrita:\n<b>👇 Responde con el número (1-4) para redactar.</b>\n\nSALIDA FINAL:\nGenera el briefing completo respetando estrictamente la estructura HTML y añadiendo el footer obligatorio al final."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -80,
        320
      ],
      "id": "65f4d9a6-9eef-4081-9e07-481a8aa04c6d",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "={{ $json.mensaje_final.parts[0].text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "2d6e73d2-6b74-4f4f-a823-8c73a2da8f47",
      "name": "Notificar a Manu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        576,
        464
      ],
      "webhookId": "1e5f367b-022f-4c81-992c-77a37e7ac330",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Configuración: Horas hacia atrás para considerar una noticia \"fresca\"\nconst hoursBack = 72;\nconst cutoffDate = new Date(new Date().getTime() - (hoursBack * 60 * 60 * 1000));\n\n// Filtramos los items que tengan fecha y sean recientes\nconst recentNews = items.filter(item => {\n  const pubDate = new Date(item.json.pubDate || item.json.isoDate || item.json.date);\n  return pubDate > cutoffDate;\n});\n\n// Limpiamos la data para ahorrar tokens\nconst cleanList = recentNews.map(item => {\n  return {\n    title: item.json.title,\n    content: item.json.contentSnippet || item.json.content || \"\",\n    link: item.json.link,\n    source: item.json.source || \"Unknown\"\n  };\n});\n\n// --- NUEVA LÓGICA (EL SECRETO) ---\n// Convertimos el JSON en un texto legible para la IA\n// Así forzamos que el link vaya pegado al título\nconst textForAI = cleanList.map((news, index) => {\n    return `\n    Noticia #${index + 1}:\n    Titulo: ${news.title}\n    Resumen: ${news.content}\n    Link_Original: ${news.link}\n    -----------------------\n    `;\n}).join(\"\\n\");\n\n// Devolvemos el texto listo para usar\nreturn [{ json: { final_context: textForAI } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        320
      ],
      "id": "24fb50b7-bfce-48ad-8ed0-0ef55e88f894",
      "name": "Filtrado"
    },
    {
      "parameters": {
        "jsCode": "// Simplemente cogemos el texto que viene de la IA y lo pasamos\nconst textoIA = items[0].json.content;\n\nreturn [{\n  json: {\n    mensaje_final: textoIA\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        320
      ],
      "id": "fa6f59b2-6347-40d8-a075-2c32101aef86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "data_json": "={{ $json.data_json }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_json",
              "displayName": "data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        192
      ],
      "id": "5f1e7afb-5163-4c72-9d61-dfe54f547b1a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l2xD3QINvvmbY8nJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Google",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS SearchEngine",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Martech",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Google": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS SearchEngine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Martech": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Shopify": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filtrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar a Manu": {
      "main": [
        []
      ]
    },
    "Filtrado": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Notificar a Manu",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4d1ff342-6784-4c91-942e-ab89e1fa201e",
  "activeVersionId": "4d1ff342-6784-4c91-942e-ab89e1fa201e",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2026-01-11T08:53:52.795Z",
      "createdAt": "2026-01-11T08:53:52.795Z",
      "id": "uhHZ5uXbgX7TuWN5",
      "name": "CreaContenido"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-01-08T21:54:43.957Z",
      "createdAt": "2026-01-08T21:54:43.957Z",
      "role": "workflow:owner",
      "workflowId": "3SujNhDcvxSyDmdAiUb7d",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}