workflows/aNRAS23IAQdO4X7u.json
{
  "updatedAt": "2026-02-02T17:03:39.000Z",
  "createdAt": "2026-02-01T18:22:27.488Z",
  "id": "aNRAS23IAQdO4X7u",
  "name": "01 - SEO Content Generator (Scheduled)",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (7AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PPLX_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sonar-medium-online"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"Busca las 5 noticias más importantes de Marketing, Inteligencia Artificial y Negocios Digitales de las últimas 24 horas. Dame títulos, resumen y fuentes.\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "perplexity-research",
      "name": "Investigador (Perplexity)",
      "credentials": {
        "perplexityApi": {
          "id": "NmUX7901KapcZxqn",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "openai-brain",
      "name": "Cerebro (Router)",
      "credentials": {
        "openAiApi": {
          "id": "2hav82eKKT2LEptu",
          "name": "Openai - n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_json": "={{ JSON.stringify($json) }}",
            "date": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_json",
              "displayName": "data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l2xD3QINvvmbY8nJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "🧠 *Estrategia Generada*\nSelecciona un ángulo para desarrollar el contenido:",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ],
      "id": "telegram-menu",
      "name": "Menu Telegram",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (7AM)": {
      "main": [
        [
          {
            "node": "Investigador (Perplexity)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investigador (Perplexity)": {
      "main": [
        [
          {
            "node": "Cerebro (Router)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro (Router)": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Menu Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "633a7ca8-f414-4478-a042-fc25cfb7271e",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-01T18:22:27.491Z",
      "createdAt": "2026-02-01T18:22:27.491Z",
      "role": "workflow:owner",
      "workflowId": "aNRAS23IAQdO4X7u",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}