workflows/D28PxgjqN7Ak3rpM0EYUf.json
{
  "updatedAt": "2026-03-08T09:13:29.409Z",
  "createdAt": "2026-01-19T19:28:18.467Z",
  "id": "D28PxgjqN7Ak3rpM0EYUf",
  "name": "Google Ads Audit Professional(Para Borrar)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        320
      ],
      "id": "e41bb35c-a8c4-4f09-808c-b17b1a4df998"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "customerId",
              "value": "317-217-7990"
            },
            {
              "name": "developerToken",
              "value": " 5U-ttcbe95fp-i4i4kyozQ"
            }
          ]
        },
        "options": {}
      },
      "name": "User Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        224,
        320
      ],
      "id": "38d654d3-d12b-4f1a-89ca-5541f01b680c"
    },
    {
      "parameters": {
        "managerCustomerId": "={{ $json.customerId }}",
        "clientCustomerId": "234-049-8596",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "name": "Get Account Info",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "2a1f056a-bc86-4b94-87f4-eda71d7638f7",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "additionalOptions": {},
        "requestOptions": {}
      },
      "name": "Get Campaigns",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "7ae4d5bd-d77f-4a17-bf15-81249b2043b2",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "resource": "adGroup",
        "requestOptions": {}
      },
      "name": "Get AdGroups",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        304
      ],
      "id": "a352f1cb-e56c-4d8d-af96-388d47091937",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "resource": "keyword",
        "requestOptions": {}
      },
      "name": "Get Keywords",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        400
      ],
      "id": "1b8394f5-2976-4135-89af-49c08d100022",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "resource": "ad",
        "requestOptions": {}
      },
      "name": "Get Ads",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        512
      ],
      "id": "852d72bc-fd83-49a9-93e0-13e01fad30ee",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "resource": "conversionAction",
        "requestOptions": {}
      },
      "name": "Get Conversion Actions",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        608
      ],
      "id": "bf72ad09-ec3f-4d6c-9368-d232ee9a6b6c",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "resource": "geoTarget",
        "requestOptions": {}
      },
      "name": "Get Geo Targets",
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        608,
        704
      ],
      "id": "761ae8f8-7c5b-45f0-9731-a868efdffa1a",
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "WpMiTNI80ysJQ3YW",
          "name": "Google Ads account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        912,
        400
      ],
      "id": "5afffb7c-af97-4155-81c0-92cd041a3d7a"
    },
    {
      "parameters": {
        "jsCode": "\n// Mock Scoring Logic based on Inputs\nconst results = {\n    \"summary\": { \"score\": 85, \"grade\": \"B\", \"total_checks\": 200 },\n    \"categories\": {\n        \"Account Settings\": 90,\n        \"Campaigns\": 80,\n        \"Ads\": 75,\n        \"Keywords\": 95\n    },\n    \"details\": [\n        { \"check\": \"Conversion Tracking\", \"status\": \"✅\", \"desc\": \"Global site tag found.\" },\n        { \"check\": \"Bidding Strategy\", \"status\": \"⚠️\", \"desc\": \"2 Campaigns on Manual CPC.\" }\n    ]\n};\nreturn results;\n"
      },
      "name": "Audit Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1104,
        400
      ],
      "id": "65f1e1b9-8194-4216-baaf-dd7d25fc39d4"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "User Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Config": {
      "main": [
        [
          {
            "node": "Get Account Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get AdGroups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversion Actions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Geo Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Info": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaigns": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AdGroups": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Keywords": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ads": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversion Actions": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Geo Targets": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Audit Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2cba7add-a3b3-422e-9528-b2d6715bb24a",
  "activeVersionId": null,
  "versionCounter": 22,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-19T19:28:18.472Z",
      "createdAt": "2026-01-19T19:28:18.472Z",
      "role": "workflow:owner",
      "workflowId": "D28PxgjqN7Ak3rpM0EYUf",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}