workflows/LTtD6izOWBatig-7qv8IA.json
{
  "updatedAt": "2026-03-07T22:22:53.192Z",
  "createdAt": "2026-01-11T08:53:45.709Z",
  "id": "LTtD6izOWBatig-7qv8IA",
  "name": "3-The Reactor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\n// Si no hay topic seleccionado, corta aquí\nif (!j.id) return [];\n\n// Resumen corto para no meter tronchos al prompt\nconst summary = (j.original_summary || \"\").toString().replace(/\\s+/g, \" \").trim();\nconst shortSummary = summary.length > 500 ? summary.slice(0, 500) + \"...\" : summary;\n\nreturn [\n  {\n    json: {\n      valid: true,\n      topic_id: j.id,\n      fecha_digest: j.fecha_digest ?? null,\n      rank_dia: j.rank_dia ?? null,\n\n      original_title: j.original_title ?? \"\",\n      original_summary: shortSummary,\n      original_url: j.original_url ?? \"\",\n\n      tipo_contenido: j.tipo_contenido ?? \"\",\n      prioridad: j.prioridad ?? null,\n      potencial_linkedin: j.potencial_linkedin ?? null,\n      potencial_seo: j.potencial_seo ?? null,\n      potencial_nexprix: j.potencial_nexprix ?? null,\n      riesgo_reputacional: j.riesgo_reputacional ?? \"\",\n      angulo_recomendado: j.angulo_recomendado ?? \"\",\n\n      // Prompt base para Basic LLM Chain\n      reactor_input: [\n        `Título: ${j.original_title ?? \"\"}`,\n        `Resumen: ${shortSummary}`,\n        `URL: ${j.original_url ?? \"\"}`,\n        `Ángulo recomendado: ${j.angulo_recomendado ?? \"\"}`,\n        `Tipo contenido: ${j.tipo_contenido ?? \"\"}`,\n        `Prioridad: ${j.prioridad ?? \"\"}`,\n        `Potencial LinkedIn: ${j.potencial_linkedin ?? \"\"}`,\n        `Potencial SEO: ${j.potencial_seo ?? \"\"}`,\n        `Potencial NExprix: ${j.potencial_nexprix ?? \"\"}`,\n        `Riesgo reputacional: ${j.riesgo_reputacional ?? \"\"}`,\n      ].join(\"\\n\"),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "ae5a1d9b-0b8b-4ea4-88ea-fd7633a09c57",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Manu Santana, Head of Marketing and Strategic Growth Advisor focused on Revenue Architecture, Automation, and B2B scale.\n\nYour job is to transform today's topic into high-quality, practical content for LinkedIn and Blog, with SEO + AEO optimization, while keeping a clear, educational, business-first tone.\n\nVOICE & STYLE\n- Analytical and didactic: explain the why behind decisions.\n- Polite but direct: no fluff, no corporate jargon.\n- Advisor tone: guide, do not lecture.\n- Translate technical concepts (AI, automation, data) into business outcomes.\n- Write in second person in Spanish (\"tu\", \"vuestra\"). NOT \"usted\", \"ustedes\"\n\nLANGUAGE RULE\n- Write ALL output in Spanish (neutral, professional, natural).\n- Keep readability high: short paragraphs, clear transitions, concrete language.\n\nINPUT DATA\n- title: {{ $json.original_title }}\n- summary: {{ $json.original_summary }}\n- url: {{ $json.original_url }}\n- content_type: {{ $json.tipo_contenido }}\n- strategic_angle: {{ $json.angulo_recomendado }}\n- priority: {{ $json.prioridad }}\n- linkedin_potential: {{ $json.potencial_linkedin }}\n- seo_potential: {{ $json.potencial_seo }}\n- nexprix_potential: {{ $json.potencial_nexprix }}\n- reputational_risk: {{ $json.riesgo_reputacional }}\n\nSTRATEGIC INTERPRETATION RULES\n- Do not rewrite the headline literally.\n- Do not sound like a news reporter.\n- Connect the topic to B2B growth levers:\n  - operational efficiency\n  - automation\n  - CAC/LTV\n  - marketing-sales alignment\n  - scalable GTM\n- If reputational_risk is high, use more cautious wording and avoid absolute claims.\n- Use linkedin_potential/seo_potential/nexprix_potential to prioritize framing:\n  - High LinkedIn: stronger hook + practical POV.\n  - High SEO/AEO: clearer entities, intent-driven structure, direct answers.\n  - High NExprix: include one natural mention of productized automation use case (non-salesy).\n\nSEO + AEO REQUIREMENTS (for blog)\n- Include search intent coverage (informational + practical).\n- Use semantic structure with H2/H3.\n- Include one short FAQ section (2-3 Q&A) to improve AEO.\n- Add concise, entity-rich wording (no keyword stuffing).\n- Keep HTML clean: only h2, h3, p, ul, li, strong.\n\nCONTENT TASKS\n1) linkedin_draft\n- Max 1500 characters.\n- Structure:\n  - Context/reflection\n  - Causal logic with arrows (->)\n  - Tangible business benefit\n  - 3 to 5 strategic hashtags\n- No aggressive imperative tone.\n- Forbidden words: “crucial”, “fundamental”, “vanguardia”, “revolucionario”.\n\n2) blog_draft\n- HTML formatted using h2, h3, p, ul, li, strong.\n- Educational, practical, semantically optimized.\n- Include a short FAQ section for AEO.\n- No markdown fences.\n- Do NOT include <h1>. WordPress already renders the main title.\n- Start directly with <h2>.\n- Do NOT repeat the exact post title in the first <h2>.\n\n\n3) Image metadata\nGenerate:\n- image_subject: one real, recognizable, literal subject.\n- image_theme: concise context of this topic.\n- image_keywords: array of 5-10 real words.\n\nOUTPUT FORMAT\nReturn ONLY valid JSON with this exact shape:\n{\n  \"linkedin_draft\": \"...\",\n  \"blog_draft\": \"...\",\n  \"image_subject\": \"\",\n  \"image_theme\": \"\",\n  \"image_keywords\": [\"\", \"\", \"\", \"\", \"\"]\n}\n\nIMPORTANT\n- Return JSON only.\n- No markdown.\n- No text before or after JSON.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        688,
        -288
      ],
      "id": "basic-llm-chain",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// Nodo Code (Run Once for Each Item recomendado)\n\n// 1) Leer texto del LLM\nconst root = $json;\nconst rawText = (\n  root.text ??\n  root.content?.parts?.[0]?.text ??\n  root.output_text ??\n  \"\"\n).toString();\n\n// 2) Extraer bloque JSON\nconst firstBrace = rawText.indexOf(\"{\");\nconst lastBrace = rawText.lastIndexOf(\"}\");\nlet jsonCandidate =\n  firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace\n    ? rawText.slice(firstBrace, lastBrace + 1)\n    : rawText;\n\n// 3) Parse robusto\nlet content = {};\ntry {\n  content = JSON.parse(jsonCandidate);\n} catch {\n  try {\n    const repaired = jsonCandidate.replace(/,\\s*([}\\]])/g, \"$1\");\n    content = JSON.parse(repaired);\n  } catch {\n    content = {};\n  }\n}\n\n// 4) Normalización de campos\nconst linkedin_draft = content.linkedin_draft || content.linkedin_content || \"\";\nlet blog_draft = content.blog_draft || content.blog_content || \"\";\n\n// NUEVO: título sugerido por el LLM (si lo devuelve)\nconst llmTitle =\n  content.blog_title ||\n  content.seo_title ||\n  content.title ||\n  \"\";\n\nconst image_subject =\n  content.image_subject ||\n  content.imageSubject ||\n  content.subject ||\n  \"\";\n\nconst image_theme =\n  content.image_theme ||\n  content.imageTheme ||\n  content.theme ||\n  \"\";\n\nlet image_keywords =\n  content.image_keywords ||\n  content.imageKeywords ||\n  content.keywords ||\n  [];\n\nif (typeof image_keywords === \"string\") {\n  image_keywords = image_keywords.split(\",\").map(s => s.trim()).filter(Boolean);\n}\nif (!Array.isArray(image_keywords)) image_keywords = [];\nimage_keywords = image_keywords.map(k => String(k).trim()).filter(Boolean).slice(0, 10);\n\n// 5) Título final\nlet originalTitle =\n  llmTitle ||\n  root.original_title ||\n  root.topic_title ||\n  root.title ||\n  \"\";\n\nif (!originalTitle || originalTitle === \"Borrador Automático\") {\n  const candidate =\n    (blog_draft || linkedin_draft || \"\")\n      .replace(/<[^>]+>/g, \" \")\n      .replace(/\\s+/g, \" \")\n      .trim()\n      .split(/[.!?]/)[0]\n      .trim();\n\n  originalTitle = candidate ? candidate.slice(0, 90) : \"Artículo\";\n}\n\n// NUEVO: limpiar duplicado de título en blog\nfunction normalizeText(str) {\n  return String(str || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// Quitar H1 inicial siempre (WP ya pinta título)\nblog_draft = blog_draft.replace(/^\\s*<h1\\b[^>]*>[\\s\\S]*?<\\/h1>\\s*/i, \"\");\n\n// Quitar primer H2 si repite el título\nconst firstH2 = blog_draft.match(/^\\s*<h2\\b[^>]*>([\\s\\S]*?)<\\/h2>\\s*/i);\nif (firstH2) {\n  const h2Text = normalizeText(firstH2[1]);\n  const titleText = normalizeText(originalTitle);\n  if (h2Text === titleText || h2Text.includes(titleText) || titleText.includes(h2Text)) {\n    blog_draft = blog_draft.replace(/^\\s*<h2\\b[^>]*>[\\s\\S]*?<\\/h2>\\s*/i, \"\");\n  }\n}\nblog_draft = blog_draft.trim();\n\n// 6) Prompt imagen\nconst STYLE_PROMPT =\n  \"A realistic subject illustrated in the style of the iPad app Paper by FiftyThree. \" +\n  \"The subject must be a real, recognizable thing from the real world (animal, person, object, or everyday scene), not a metaphor, not an abstract concept. \" +\n  \"Hand-sketched watercolor look with loose pencil and ink lines, imperfect strokes, soft watercolor washes, and an off-white paper background. \" +\n  \"Paper53 style as an aesthetic, not a drawing action. \" +\n  \"No hands, no people, no body parts, no drawing tools. \" +\n  \"No robots, no mechanical parts, no futuristic or sci-fi aesthetics. \" +\n  \"No diagrams, no mind maps, no abstract symbols. \" +\n  \"Text is optional and secondary; if present, use only real, common words related to the topic. \" +\n  \"No invented words, no pseudo-text, no filler. \" +\n  \"Calm, human, organic, editorial tone.\";\n\nconst subjectFinal = image_subject || `a real-world subject related to: ${originalTitle}`;\nconst themeFinal = image_theme || \"\";\nconst keywordsFinal = image_keywords.length ? image_keywords.join(\", \") : \"\";\n\nconst finalImagePrompt = (\n  `${STYLE_PROMPT}\\n\\n` +\n  `Main subject: ${subjectFinal}.\\n` +\n  (themeFinal ? `Theme/context: ${themeFinal}.\\n` : \"\") +\n  (keywordsFinal ? `Optional real words (if used, short): ${keywordsFinal}.\\n` : \"\") +\n  \"Prefer the image to work even with no text.\"\n).slice(0, 999);\n\n// 7) Salida\nreturn [\n  {\n    json: {\n      ...root,\n      title: originalTitle,\n      linkedin_draft,\n      blog_draft,\n      image_subject: subjectFinal,\n      image_theme: themeFinal,\n      image_keywords,\n      image_prompt: finalImagePrompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "9a50eba4-e10c-4709-a4ec-776ccb89ba18",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "=🚀 *WORKFLOW COMPLETADO*\n\n📱 *Para LinkedIn:*\n-----------------------------\n{{ $('Code').item.json.linkedin_draft }}\n-----------------------------\n\n📝 *WordPress:*\n✅ Borrador creado (ID: {{ $json.id }})\n\n👇 *¿QUÉ HACEMOS?*\n- Escribe **OK** para publicar esto en LinkedIn ahora.\n- O **envía el mensaje editado** (copia, pega y corrige) para publicar esa versión.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "79d42b9e-8d34-452a-ab50-b83fc9290f1b",
      "name": "Notificar a Manu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2384,
        0
      ],
      "webhookId": "1e5f367b-022f-4c81-992c-77a37e7ac330",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manusantana.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=portada_ia.png"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1680,
        0
      ],
      "id": "66365db8-4ed9-4e7a-bb94-2cf8e674e1d1",
      "name": "HTTP Request",
      "credentials": {
        "wordpressApi": {
          "id": "wfB9IY5mVyTdtlVF",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manusantana.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=title",
              "value": "={{ $('Code').item.json.title }}"
            },
            {
              "name": "=content",
              "value": "={{ $('Code').item.json.blog_draft }}"
            },
            {
              "name": "=status",
              "value": "draft"
            },
            {
              "name": "featured_media",
              "value": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "name": "excerpt",
              "value": "={{ $('Code').item.json.linkedin_draft }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        0
      ],
      "id": "d6d4277d-c13c-4744-a942-d06e5df74d25",
      "name": "Wordpress Connect",
      "credentials": {
        "wordpressApi": {
          "id": "wfB9IY5mVyTdtlVF",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1456,
        0
      ],
      "id": "40c54081-e8c0-4a62-8902-ca86f9267278",
      "name": "Wait",
      "webhookId": "c710ee37-d4e0-4f18-bc2e-95595a2d4b8a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ],
          "string": [
            {
              "value1": "={{ $json.topic_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bbdf65cb-0a9a-4a2c-b621-f66239659d51",
      "name": "Check Validity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "={{ $json.error }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "5a5021de-7fcc-43f2-9bd5-6ee3a2bed626",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1040,
        304
      ],
      "webhookId": "e98953a0-db5e-41f0-bd78-5f90f63f791e",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        -112
      ],
      "id": "6c550002-e2c2-445f-a46c-ec3468fe2da3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1264,
        0
      ],
      "id": "349416c0-d757-40cb-af87-332ef67d6780",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-pro-preview"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        -544
      ],
      "id": "f854748b-fa7f-4bdc-a7ca-6c4f2c83854d",
      "name": "Google Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "content_topics",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "discovered"
            },
            {
              "keyName": "rank_dia",
              "condition": "eq",
              "keyValue": "={{$json.choice}}"
            },
            {
              "keyName": "fecha_digest",
              "condition": "eq",
              "keyValue": "={{$now.setZone('Europe/Madrid').toFormat('yyyy-LL-dd')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -160
      ],
      "id": "beaf4cd7-2630-4cb7-ba7c-1097d59ca1cf",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "xjv1ITY7cmIbF4Up",
          "name": "SB-Personal"
        }
      }
    },
    {
      "parameters": {
        "tableId": "telegram_selections",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_user_id",
              "fieldValue": "={{ $json.telegram_user_id }}"
            },
            {
              "fieldId": "telegram_chat_id",
              "fieldValue": "={{ $json.telegram_chat_id }}"
            },
            {
              "fieldId": "fecha_digest",
              "fieldValue": "={{ $json.fecha_digest }}"
            },
            {
              "fieldId": "rank_dia",
              "fieldValue": "={{ $json.rank_dia }}"
            },
            {
              "fieldId": "content_topic_id",
              "fieldValue": "={{ $json.content_topic_id }}"
            },
            {
              "fieldId": "selected_text",
              "fieldValue": "={{ $json.selected_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        -160
      ],
      "id": "f1e21a07-408b-45f1-bf37-a8812940024a",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "xjv1ITY7cmIbF4Up",
          "name": "SB-Personal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = $input.first().json;\nconst payload = $items(\"Edit Fields\", 0, 0)[0]?.json ?? {};\n\nconst telegramUserId = payload.telegram_user_id ?? null;\nconst telegramChatId = payload.telegram_chat_id ?? null;\nconst choice = payload.choice ?? null;\nconst fechaDigest = payload.fecha_digest ?? null;\nconst selectedText = payload.selected_text ?? null;\n\nif (!telegramUserId) {\n  throw new Error(\"telegram_user_id vacío en Edit Fields\");\n}\n\nreturn [\n  {\n    json: {\n      telegram_user_id: String(telegramUserId),\n      telegram_chat_id: telegramChatId ? String(telegramChatId) : null,\n      fecha_digest: topic.fecha_digest ?? fechaDigest ?? $now.setZone(\"Europe/Madrid\").toFormat(\"yyyy-LL-dd\"),\n      rank_dia: Number(topic.rank_dia ?? choice),\n      content_topic_id: topic.id,\n      selected_text: selectedText ?? (choice !== null ? String(choice) : \"\"),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -160
      ],
      "id": "a7b53d14-08d8-4743-8ed1-26aef82731be",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57c7f3d3-821d-45a6-87ad-9f58234b8a7d",
              "name": "choice",
              "value": 4,
              "type": "number"
            },
            {
              "id": "3e7485c9-49ad-4866-b1df-a23e1a975023",
              "name": "telegram_user_id",
              "value": "7284267714",
              "type": "string"
            },
            {
              "id": "e55dd0ea-f29f-471a-b5ae-ca191a856ab6",
              "name": "telegram_chat_id",
              "value": "7284267714",
              "type": "string"
            },
            {
              "id": "74fa7ee7-8349-4049-a13a-c9af4079a446",
              "name": "selected_text",
              "value": "5",
              "type": "string"
            },
            {
              "id": "a9b4572d-7f94-4fdd-bb1d-763c6d222d6a",
              "name": "fecha_digest",
              "value": "2026-02-22",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -160
      ],
      "id": "277c02fa-5d5a-4d63-987c-eef53aeb706f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "content_topics",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create a row').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "published"
            },
            {
              "fieldId": "wp_url",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "linkedin_post",
              "fieldValue": "={{ $('Code').item.json.linkedin_draft }}"
            },
            {
              "fieldId": "imagen",
              "fieldValue": "={{ $('HTTP Request').item.json.guid?.rendered || null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2208,
        208
      ],
      "id": "d1778940-9b20-4719-9211-9f0aba242a68",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "xjv1ITY7cmIbF4Up",
          "name": "SB-Personal"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wordpress Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Connect": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar a Manu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validity": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 173264291,
          "message": {
            "message_id": 43,
            "from": {
              "id": 7284267714,
              "is_bot": false,
              "first_name": "Manu",
              "last_name": "Santana",
              "language_code": "es"
            },
            "chat": {
              "id": 7284267714,
              "first_name": "Manu",
              "last_name": "Santana",
              "type": "private"
            },
            "date": 1768319122,
            "text": "2"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "42d7c89d-b0c0-47f6-aadc-68660a43750c",
  "activeVersionId": "42d7c89d-b0c0-47f6-aadc-68660a43750c",
  "versionCounter": 165,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-01-11T08:53:52.795Z",
      "createdAt": "2026-01-11T08:53:52.795Z",
      "id": "uhHZ5uXbgX7TuWN5",
      "name": "CreaContenido"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-01-11T08:53:45.712Z",
      "createdAt": "2026-01-11T08:53:45.712Z",
      "role": "workflow:owner",
      "workflowId": "LTtD6izOWBatig-7qv8IA",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}