workflows/SEO_Content_Generator_Gemini.json
{
  "id": "x7qRmVx4B5PFQk9j",
  "name": "SEO Content Generator (Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "n8n vs Make",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-topic",
      "name": "Define Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "prompt": "=ACT AS: The Revenue Architect (Content Strategist).\nCONTEXT: You are analyzing the 'Personal Brand' wheel which has 3 pillars:\n1. BUSINESS (Negocio): Focus on Sales, 'Pain Points', Growth Dictionary.\n2. EFFICIENCY (Eficiencia): Low-Code, Automation, n8n vs Make, Blueprints.\n3. SINCERITY (Sinceridad): Radical transparency, Audits, Dashboards.\n\nTASK: Write an SEO-optimized blog post for LLMs about the topic: '{{$json.topic}}'.\nSTYLE: Direct, Technical, 'Canalla' (Cheeky), No Fluff.\nSTRUCTURE: H1, H2 (Pain Point), H2 (Solution), Bullet Points, JSON-LD FAQ.",
        "options": {}
      },
      "id": "google-gemini-standalone",
      "name": "Generate SEO Content",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        900,
        340
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "googleGeminiApi",
          "name": "Google Gemini Account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Define Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Topic": {
      "main": [
        [
          {
            "node": "Generate SEO Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "5131f7d9-9cd6-4a6b-bfe0-62b3fcdcfbc5"
}