workflows/The_Reactor.json
{
  "id": "LTtD6izOWBatig-7qv8IA",
  "name": "The Reactor",
  "versionId": "a9f9725c-df90-4a9d-8971-ca5d3d57ded7",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "7284267714"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        0
      ],
      "id": "97d8f78e-d316-4afa-bd99-935847178a30",
      "name": "Telegram Trigger",
      "webhookId": "b522a8fe-76eb-4c56-8ded-52ee891bbf26",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E5gQDV1xRswrj2qljb7C3xzSyrjjacLdS6Y5vMkM5V0/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        0
      ],
      "id": "54be314c-f2bb-4210-bf5c-0d34383e87d5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l2xD3QINvvmbY8nJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- 1. OBTENER INPUTS ---\n// Buscamos el mensaje original del usuario en el nodo Trigger\nconst triggerData = $('Telegram Trigger').first();\nconst userMsg = triggerData ? triggerData.json.message.text : \"1\"; // Fallback para tests\n\n// Buscamos los datos de Google Sheets (Input directo de este nodo)\n// Cogemos la \u00daLTIMA fila, que es la de hoy\nconst lastRow = items[items.length - 1].json;\n\n// --- 2. VALIDACI\u00d3N ---\nconst selection = parseInt(userMsg);\n\n// Validamos que sea un n\u00famero entre 1 y 4\nif (isNaN(selection) || selection < 1 || selection > 4) {\n  return { json: { error: \"\u26a0\ufe0f Input no v\u00e1lido. Escribe un n\u00famero del 1 al 4.\", valid: false } };\n}\n\n// --- 3. EXTRACCI\u00d3N DEL TEMA ---\nlet memory;\ntry {\n  // Intentamos leer el JSON. Si est\u00e1 vac\u00edo o mal formado, no explota.\n  memory = lastRow.data_json ? JSON.parse(lastRow.data_json) : {};\n} catch (e) {\n  return { json: { error: \"\u274c Error cr\u00edtico: La memoria del d\u00eda est\u00e1 corrupta o el JSON es inv\u00e1lido.\", valid: false } };\n}\n\n// === EL FIX EST\u00c1 AQU\u00cd ===\n// Si 'topics' no existe, usamos una lista vac\u00eda [] para que NO de error \"undefined\"\nconst topics = memory.topics || []; \n\n// Array empieza en 0, as\u00ed que restamos 1 (Input \"1\" = Index 0)\n// Ahora 'topics' siempre es un array, as\u00ed que esto es seguro\nconst topic = topics[selection - 1];\n\nif (!topic) {\n  // Si no encuentra el tema, avisa claramente en vez de dar error 500\n  return { json: { error: `\u274c Tema no encontrado. El sistema ha le\u00eddo ${topics.length} temas. (Revisa si ejecutaste Content Factory hoy)`, valid: false } };\n}\n\n// --- 4. PREPARAR PAQUETE PARA LA IA ---\nreturn {\n  json: {\n    valid: true,\n    user_selection: selection,\n    topic_title: topic.title,\n    topic_rationale: topic.rationale,\n    topic_sources: topic.sources ? topic.sources.join(\", \") : \"Varias fuentes\",\n    system_instruction: \"Genera un post de LinkedIn viral, t\u00e9cnico y directo.\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "ae5a1d9b-0b8b-4ea4-88ea-fd7633a09c57",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Act\u00faa como YO, Manu Santana. Soy Head of Marketing y experto en Growth de negocio y Marketing, con un tono directo, un poco canalla, muy t\u00e9cnico pero sin palabras de relleno. Odio el lenguaje corporativo tipo \"en el panorama actual\". Soy un apasionado de la IA y la aplico en mi d\u00eda a d\u00eda. Me quiero posicionar como el mayor experto en Transformar departamentos de marketing traducionales en nuevos departamentos de marketing preparados para IA, ahorrando costes a la empresas y siendo m\u00e1s productivos.\n\nMI ESTILO DE ESCRITURA:\n- Frases cortas. Punchy.\n- Uso de flechas (->) o listas para explicar l\u00f3gica.\n- Preguntas ret\u00f3ricas para enganchar.\n- Cero paja. Voy al grano.\n- Escribe segunda persona del singular. \"Prep\u00e1rate. Lo que vamos a discutir no es un futuro prometedor, ni una tendencia emergente. Es una realidad que Google acaba de poner sobre la mesa y que va a cambiar, de forma radical, las reglas del juego del comercio online. Olvida las predicciones.\"\n- Cero palabras mal sonantes. S\u00e9 educado.\n\nEJEMPLO DE C\u00d3MO ESCRIBO (Imita este tono):\n\"Excelente primera jornada representando a Zumex Group en el EDEM Escuela de Empresarios del hashtag#programa hashtag#agroalimentario con un interesante caf\u00e9 con Hortensia Roig y ponentes top como: Jos\u00e9 Mar\u00eda Bonmat\u00ed Eduardo Baamonde Leonor S\u00e1iz Amor\u00f3s V\u00edctor Yuste Jord\u00e1n y Manuel Lainez Andre\u0301s Ma\u00f1ana m\u00e1s y mejor!\"\n\"Gran gala de los hashtag#premiosmia24 organizada por el Club Marketing Mediterr\u00e1neo y la inspiradora charla de Amuda Goueli para seguir innovando y el gran valor estrat\u00e9gico del \u00e1rea de marketing en los mejores, y sobre todo, en los peores momentos. Muchas gracias por esa inspiraci\u00f3n para todo el equipo Zumex Group que represento esta noche.\"\n\nDATOS DEL TEMA DE HOY:\n- T\u00edtulo: {{ $json.topic_title }}\n- Raz\u00f3n: {{ $json.topic_rationale }}\n- Fuentes: {{ $json.topic_sources }}\n\nTU TAREA:\nGenera un objeto JSON v\u00e1lido (sin markdown) con dos campos:\n\n1. \"linkedin_content\":\n   - Post de LinkedIn siguiendo MI ESTILO.\n   - M\u00e1ximo 150 palabras.\n   - Empieza con una afirmaci\u00f3n pol\u00e9mica.\n\n2. \"blog_content\":\n   - Art\u00edculo HTML para WordPress de aproximadamente 800 palabras (solo el body, sin <html>).\n   - Usa <h2>, <p>, <ul> optimizado para SEO.\n   - IDIOMA: El contenido debe estar escrito \u00daNICAMENTE en ESPA\u00d1OL.\n   - Tono educativo pero entretenido.\n\n3. \"image_prompt\":\n   - TU MISI\u00d3N: Escribir un prompt descriptivo en ingl\u00e9s para generar la imagen de portada.\n   - CONTENIDO OBLIGATORIO: La imagen DEBE representar visualmente los conceptos clave del art\u00edculo (T\u00edtulo: {{ $json.topic_title }}).\n   - EJEMPLOS VISUALES: Si el texto habla de \"Google UCP y carritos abandonados\", el prompt debe describir, por ejemplo, un logo de Google estilizado conectado por l\u00edneas a un carrito de compra abstracto con un cerebro de IA dentro. S\u00e9 creativo con las met\u00e1foras visuales del tema.\n   - ESTILO ART\u00cdSTICO: Ilustraci\u00f3n digital conceptual imitando un boceto suelto hecho en iPad (estilo app Paper53).\n   - DETALLES DE ESTILO: Debe parecer hecho a mano, con texturas visibles de papel granulado, aguadas de acuarela (watercolor washes), y l\u00edneas de tinta imperfectas y sueltas.\n   - Keywords finales a incluir siempre: \"Conceptual editorial illustration, digital sketch, Paper53 style, watercolor and ink on textured paper, hand-drawn, loose brushstrokes, minimalist.\"\n\nOUTPUT FORMAT (JSON RAW):\n{\n  \"linkedin_content\": \"...\",\n  \"blog_content\": \"...\"\n}\nIMPORTANTE: El JSON debe ser v\u00e1lido. Escapa los saltos de l\u00ednea del texto usando \\n. No uses saltos de l\u00ednea reales dentro de los valores."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "f854748b-fa7f-4bdc-a7ca-6c4f2c83854d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ScgXEyFYKFmtP8M4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Limpieza JSON (Igual que antes)\nconst root = items[0].json;\nconst rawText = (root.content && root.content.parts) ? root.content.parts[0].text : root.text;\n\n// Buscador de llaves para evitar basura\nconst firstBrace = rawText.indexOf('{');\nconst lastBrace = rawText.lastIndexOf('}');\nlet cleanJSON = rawText;\n\nif (firstBrace !== -1 && lastBrace !== -1) {\n    cleanJSON = rawText.substring(firstBrace, lastBrace + 1);\n}\n\n// 2. Fix saltos de l\u00ednea y Parseo\nlet content = {};\ntry {\n    const fixedJSON = cleanJSON.replace(/\\n/g, \"\\\\n\").replace(/\\r/g, \"\");\n    content = JSON.parse(fixedJSON);\n} catch (e) {\n    try { content = JSON.parse(cleanJSON); } catch(e2) {\n        content = { linkedin_content: \"\u26a0\ufe0f Error formato\", blog_content: \"Error\" };\n    }\n}\n\n// 3. RECUPERAR T\u00cdTULO ORIGINAL\nlet originalTitle = \"Borrador Autom\u00e1tico\";\ntry {\n    originalTitle = $('Code in JavaScript').first().json.target_topic.title; \n} catch(e) {\n    try { originalTitle = $('Code in JavaScript').first().json.topic_title; } catch(e2) {}\n}\n\n// SALIDA ACTUALIZADA CON EL PROMPT DE IMAGEN\nreturn {\n    json: {\n        title: originalTitle,\n        linkedin_draft: content.linkedin_content || content.linkedin_draft,\n        blog_draft: content.blog_content || content.blog_draft,\n        // A\u00d1ADIMOS ESTA L\u00cdNEA:\n        image_prompt: content.image_prompt || \"Futuristic technology concept, editorial photography, 8k\" // Fallback por si acaso\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "9a50eba4-e10c-4709-a4ec-776ccb89ba18",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "=\ud83d\ude80 *WORKFLOW COMPLETADO*\n\n\ud83d\udcf1 *Para LinkedIn (Copiar y Pegar):*\n-----------------------------\n{{ $('Code').item.json.linkedin_draft }}\n-----------------------------\n\n\ud83d\udcdd *WordPress:*\n\u2705 Borrador creado correctamente:\nTitle: {{ $json.title.rendered || $json.title }}\nID: {{ $json.id }}\n\n(Entra a tu WP para editar y publicar el art\u00edculo)",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "79d42b9e-8d34-452a-ab50-b83fc9290f1b",
      "name": "Notificar a Manu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ],
      "webhookId": "1e5f367b-022f-4c81-992c-77a37e7ac330",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{ $json.image_prompt }}",
        "n": 1,
        "size": "1024x1024",
        "responseFormat": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "5011b4c8-f55e-42ec-b2ab-5309120e3f09",
      "name": "Generate Image (DALL-E)",
      "credentials": {
        "openAiApi": {
          "id": "2hav82eKKT2LEptu",
          "name": "Openai - n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "none",
        "responseFormat": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        920,
        0
      ],
      "id": "download-image-node",
      "name": "Download Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manusantana.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=portada_ia.png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        0
      ],
      "id": "66365db8-4ed9-4e7a-bb94-2cf8e674e1d1",
      "name": "HTTP Request",
      "credentials": {
        "wordpressApi": {
          "id": "wfB9IY5mVyTdtlVF",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://manusantana.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=title",
              "value": "={{ $('Code').item.json.title }}"
            },
            {
              "name": "=content",
              "value": "={{ $('Code').item.json.blog_draft }}"
            },
            {
              "name": "=status",
              "value": "draft"
            },
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1504,
        0
      ],
      "id": "d6d4277d-c13c-4744-a942-d06e5df74d25",
      "name": "Wordpress Connect",
      "credentials": {
        "wordpressApi": {
          "id": "wfB9IY5mVyTdtlVF",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "40c54081-e8c0-4a62-8902-ca86f9267278",
      "name": "Wait",
      "webhookId": "c710ee37-d4e0-4f18-bc2e-95595a2d4b8a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bbdf65cb-0a9a-4a2c-b621-f66239659d51",
      "name": "Check Validity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "7284267714",
        "text": "={{ $json.error }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "5a5021de-7fcc-43f2-9bd5-6ee3a2bed626",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        200
      ],
      "webhookId": "e98953a0-db5e-41f0-bd78-5f90f63f791e",
      "credentials": {
        "telegramApi": {
          "id": "yDpQzNCgbZRDEeGA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Generate Image (DALL-E)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (DALL-E)": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wordpress Connect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress Connect": {
      "main": [
        [
          {
            "node": "Notificar a Manu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validity": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false
}