workflows/x7qRmVx4B5PFQk9j.json
{
  "updatedAt": "2026-01-23T09:13:17.624Z",
  "createdAt": "2026-01-23T09:13:17.624Z",
  "id": "x7qRmVx4B5PFQk9j",
  "name": "SEO Content Generator (Gemini)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "n8n vs Make",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-topic",
      "name": "Define Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "prompt": "=ACT AS: The Revenue Architect (Content Strategist).\nCONTEXT: You are analyzing the 'Personal Brand' wheel which has 3 pillars:\n1. BUSINESS (Negocio): Focus on Sales, 'Pain Points', Growth Dictionary.\n2. EFFICIENCY (Eficiencia): Low-Code, Automation, n8n vs Make, Blueprints.\n3. SINCERITY (Sinceridad): Radical transparency, Audits, Dashboards.\n\nTASK: Write an SEO-optimized blog post for LLMs about the topic: '{{$json.topic}}'.\nSTYLE: Direct, Technical, 'Canalla' (Cheeky), No Fluff.\nSTRUCTURE: H1, H2 (Pain Point), H2 (Solution), Bullet Points, JSON-LD FAQ."
      },
      "id": "basic-llm-chain",
      "name": "Generate SEO Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "id": "google-gemini-model",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        540
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "googleGeminiApi",
          "name": "Google Gemini Account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Define Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Topic": {
      "main": [
        [
          {
            "node": "Generate SEO Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_language_model": [
        [
          {
            "node": "Generate SEO Content",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "e44eb230-c899-4779-9273-25135e3f1c00",
  "activeVersionId": null,
  "versionCounter": 12,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-23T09:13:17.627Z",
      "createdAt": "2026-01-23T09:13:17.627Z",
      "role": "workflow:owner",
      "workflowId": "x7qRmVx4B5PFQk9j",
      "projectId": "zZvuPL6pwZZ6dEqo",
      "project": {
        "updatedAt": "2025-05-02T20:26:00.569Z",
        "createdAt": "2025-05-02T20:12:42.968Z",
        "id": "zZvuPL6pwZZ6dEqo",
        "name": "Manu Santana <manu@manusantana.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "10bbcf7f-c97f-4824-970e-ee7b9736352b"
      }
    }
  ]
}